{% extends "master.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
      <!-- <div class="container"> -->
          <div class="row">
              <div class="col-md-6">
                <h2>{{ title }}</h2>
                <form action="{{ url_for('signup') }}" method="POST">
                
                <div class="form-group">
                    <input type="text" placeholder="Enter first name" name="firstname" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" placeholder="Enter last name" name="lastname" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" placeholder="Enter Email" name="email" class="form-control" required>
                </div>
                
                <div class="form-group">
                    <input type="text" placeholder="Enter Username" name="username" class="form-control" required>
                </div>
                
                <div class="form-group">
                    <input type="password" placeholder="Enter Password" name="password" class="form-control" required>                </div>

                <div class="form-group inline">
                    <input type="password" placeholder="Repeat Password" name="confirm_password" class="form-control" required>                    
                </div>

                <div class="form-group clearfix">
                    <button type="submit" class="btn btn-success">Sign Up</button>
                </div>
            </form>

              </div>
          </div>
      <!-- </div> -->

{% endblock %}